
.menu-text, .tab {
    color: #1a237e !important;
    font-family: 'Cutive Mono', monospace;
    font-size: 20px !important;
}

.brand-logo {
    font-size: 50px !important;
    color: #1a237e !important;
    font-family: 'Cutive Mono', monospace;
}